<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meble_thefurnitureapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logo_playstore"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_logo_playstore"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meble_TheFurnitureApp">
        <activity android:name=".AboutUs"
            android:label="About Us"
            android:parentActivityName=".HomePage"/>
        <activity
            android:name=".TVMedia_TvMediaFurniture"
            android:label="TV &amp; Media Furniture"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".BarFurniture_barfurniture"
            android:label="Bar Furniture"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".TablesAndDesks_DressingTables"
            android:label="Dressing Tables"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".TablesAndDesks_ComputerDesks"
            android:label="Computer Desks"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".TablesAndDesks_CoffeeSideTables"
            android:label="Coffee Side Tables"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".TablesAndDesks_ChildrenTable"
            android:label="Children&apos;s Table"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".TablesAndDesks_CafeTable"
            android:label="Cafe Table"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".TablesAndDesks_BedsideTable"
            android:label="Bed Side Table"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".FurnitureSets_Oscfurniture"
            android:label="Outside Furniture Sets"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".FurnitureSets_Diningsets"
            android:label="Dining Sets"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".FurnitureSets_Bathroomfurniture"
            android:label="Bathroom Furniture Sets"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".FurnitureSets_Armchairs"
            android:label="Armchairs"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".Chairs_Stools"
            android:label="Stools"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".Chairs_DiningChairs"
            android:label="Dining Chairs"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".Chairs_DeskChairs"
            android:label="Desk Chairs"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".Chairs_Benches"
            android:label="Benches"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".BookcasesShelves_StorageShelves"
            android:label="Storage Shelves"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".BookcasesShelves_ShelvingUnits"
            android:label="Shelving Units"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".BookcasesShelves_Pantry"
            android:label="Pantry"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".BookcasesShelves_Bookcases"
            android:label="Bookcases"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".Beds_SofaBeds"
            android:label="Sofa Beds"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".Beds_SIngleBeds"
            android:label="Single Beds"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".Beds_DoubleBeds"
            android:label="Double Beds"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".Beds_ChildrensBeds"
            android:label="Children&apos;s Bed"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".Beds_BunkBeds"
            android:label="Bunk Beds"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".Beds_BedswithStorage"
            android:label="Beds With Storage"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".Beds_BabyCots"
            android:label="Baby Cots"
            android:parentActivityName=".HomePage"></activity>
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/Theme.Meble_TheFurnitureApp.NoActionBar" />
        <activity android:name=".RegisterPage" />
        <activity
            android:name=".LoginPage"
            android:label="Login Page"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>