<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meble_thefurnitureapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meble_TheFurnitureApp">
        <activity android:name=".TVMedia_TvMediaFurniture"></activity>
        <activity android:name=".BarFurniture_barfurniture" />
        <activity android:name=".TablesAndDesks_DressingTables" />
        <activity android:name=".TablesAndDesks_ComputerDesks" />
        <activity android:name=".TablesAndDesks_CoffeeSideTables" />
        <activity android:name=".TablesAndDesks_ChildrenTable" />
        <activity android:name=".TablesAndDesks_CafeTable" />
        <activity android:name=".TablesAndDesks_BedsideTable" />
        <activity
            android:name=".FurnitureSets_Oscfurniture"
            android:label="Osc Furniture" />
        <activity android:name=".FurnitureSets_Diningsets" />
        <activity android:name=".FurnitureSets_Bathroomfurniture" />
        <activity android:name=".FurnitureSets_Armchairs" />
        <activity android:name=".Chairs_Stools" />
        <activity android:name=".Chairs_DiningChairs" />
        <activity android:name=".Chairs_DeskChairs" />
        <activity android:name=".Chairs_Benches" />
        <activity android:name=".BookcasesShelves_StorageShelves" />
        <activity android:name=".BookcasesShelves_ShelvingUnits" />
        <activity android:name=".BookcasesShelves_Pantry" />
        <activity android:name=".BookcasesShelves_Bookcases" />
        <activity android:name=".Beds_SofaBeds" />
        <activity android:name=".Beds_SIngleBeds" />
        <activity android:name=".Beds_DoubleBeds" />
        <activity android:name=".Beds_ChildrensBeds" />
        <activity android:name=".Beds_BunkBeds" />
        <activity android:name=".Beds_BedswithStorage" />
        <activity android:name=".Beds_BabyCots" />
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/Theme.Meble_TheFurnitureApp.NoActionBar" />
        <activity android:name=".RegisterPage" />
        <activity
            android:name=".LoginPage"
            android:label="Login Page"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>